<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mybatisplusstage01.mapper.UserMapper">
    <select id="selectUserByAge" resultType="com.learn.mybatisplusstage01.entity.User">
        SELECT *
        FROM user WHERE age > #{beginAge} AND age &lt; #{endAge}
    </select>

    <select id="selectPageByCondition" resultType="com.learn.mybatisplusstage01.entity.User">
        SELECT *
        FROM user
        -- 分页自动拼接
        -- 查询条件：可以调用queryWrapper的方法自动构建
        ${ew.customSqlSegment}
    </select>
</mapper>